/* About page only */
.page-About header h1, 
.page-About header h2{
               text-align: center;
}
.page-About section{
               font-size: large;
                    
}

/* contact page only */
.page-contact header{
                 text-shadow: 2px 2px 2px;
                 text-align: center;
}  
page-contact section{
                background-color: paleturquoise;
                text-align: center;
                padding: 20px;
                font-size: larger;
 }

/* feedback page only */
.page-feedbackbody{
            font-size: larger;
}
.page-feedback header{
            text-align: center;
            text-shadow: 2px 2px 2px;
}
