/* only applies on About */
header h1, h2{
                    text-align: center;
               }
               section{
                    font-size: large;
                    
               }

/* only applies on contact */
header{
                    text-shadow: 2px 2px 2px;
                    text-align: center;
               }  
               section{
                background-color: paleturquoise;
                text-align: center;
                padding: 20px;
                font-size: larger;
               }

/* only applies on feedback */
body{
            font-size: larger;
        }
        header{
            text-align: center;
            text-shadow: 2px 2px 2px;
        }

/* only applies on products */
table{
            border: 1px solid blue;
            border-collapse: collapse;
            margin-bottom: 20px;
            width: 100%;
        }
        tr, th, td{
            border: 1px solid blue;
            padding: 5px;
        }
        th{
            background-color: lightsteelblue;
        }
        
              

